
label{
    font-weight: 500;
}
.border{
    padding:2%;
    margin: 3%;
    background-color: lightblue;
}
article{
    font-style: italic;
    color: rgb(80, 9, 80);
    font-family:cursive;
}
h1{
    font-weight: 800;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}